.body {
    background-color: rgb(250,250,250) !important;
}

.nav-top {
    height: 63px;
    background-color: rgb(255,255,255) !important;
    border-top: 0.5px solid #dbdbdb;
    border-bottom: 0.5px solid #dbdbdb;
}

.nav-container {
    padding-left: 25% !important;
    padding-right: 25% !important;
}

.form-control {
    border-radius: .15rem !important;
    padding: 0% !important;
    background-color: #fafafa !important;
    text-align: center;
    font-size: 15px !important;
}

.img-nav {
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius:100%;
    max-width: 30px !important;
    max-height: 25px !important;
    margin-bottom: 3.5%;
    margin-left: 1%;
}

.icons {
    padding: 4%;
    font-size: 25px;
    text-decoration: none !important;
    color: black;
}

.img-profile {
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius:100%;
    max-width: 200px;
    max-height: 150px;
}

.username {
    font-weight: 300;
    font-size: 28px;
}

.button-edit {
    color: black !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    border-color: #dae1e7 !important;
}

.btn {
    padding: .100rem .50rem !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    border-bottom-left-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
}

.profile-datas {
    font-size: 16px;
}

.name {
    font-size: 16px;
    display: inline;
    font-weight: 600 !important;
}

.profile-desc {
    font-size: 16px;
}

.stories {
    text-align: center;
    font-size: 15px;
    font-weight: 600;

}

.nav-feed {
    border-bottom: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.nav-link1 {
    color: #495057;
    background-color: #fafafa !important;
    border-color: gray #FFF #FFF !important;
    border-top-right-radius: .0rem !important;
    border-top-left-radius:  .0rem !important;
    font-size: 12px;
    font-weight: 600;
}

.nav-link2 {
    color: #a2a8af;
    background-color: #fafafa !important;
    border-color: #FFF #FFF #FFF !important;
    border-top-right-radius: .0rem !important;
    border-top-left-radius:  .0rem !important;
    font-size: 12px;
    font-weight: 600;
}

.card {
    border: 0px solid rgba(0,0,0,.125) !important;
    border-radius: .0rem !important;
}

.card .card-img, .card-img-top {
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
}